.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;

  width: 100%;

  padding: 0 2rem;
  background-color: #1a1a1a;

  &__button {
    --size: 3.5rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: relative;
    isolation: isolate;

    height: var(--size);
    width: var(--size);

    outline: none;
    border: none;
    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;

    svg {
      height: 60%;
      width: auto;
      fill: var(--ff-color);
    }

    &::after {
      --base-transform: translate(-50%, -50%);
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      width: 100%;
      height: 100%;

      border-radius: 50%;
      background-color: #333;
      transform: var(--base-transform) scale(0);

      transition: transform 0.4s ease;
    }

    &--main {
      --size: 5rem;

      background-color: var(--primary-color);
      opacity: 0.75;
      backdrop-filter: blur(1px);

      box-shadow: 0 1px 10px rgba($color: #000000, $alpha: 0.125);
      transform: translateY(-50%);

      svg {
        height: 50%;
        fill: var(--surface-color);
      }
    }
    &--active::after {
      transform: var(--base-transform) scale(1.1);
      transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
  }
}
