.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
  padding: 1.25rem 1.5rem;
  border-bottom: 2px solid #c4c4c4;
  background-color: var(--surface-color);

  &__title {
    position: absolute;
    bottom: 2.5rem;
    left: 1.5rem;

    font-size: 5rem;
    font-weight: 700;
    line-height: 30px;
  }

  &__tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-end;

    width: 50%;
    list-style-type: none;

    &__tag {
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      background-color: #232323;

      cursor: pointer;
      white-space: nowrap;

      &::before {
        content: '✔ ';
      }
    }
  }
}
