.list {
  --pd: 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  padding: var(--pd);
  padding-bottom: calc(var(--pd) * 5);
  list-style-type: none;
  overflow-x: hidden;
}
