.list {
  --pd: 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  padding: var(--pd);
  padding-bottom: calc(var(--pd) * 5);
  list-style-type: none;
  overflow-x: hidden;

  &__section {
    position: relative;

    width: 100%;

    &__header {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    &__todos {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      gap: 1rem;

      list-style-type: none;

      &__todo {
        display: grid;
        grid-template-columns: 2rem auto;
        align-items: center;
        gap: 2rem;

        padding: 2.5rem 2rem;
        border-radius: 0.25rem;
        background-color: rgba($color: #ddd, $alpha: 0.075);
        box-shadow: 0px 4px 4px 0px rgba($color: #000, $alpha: 0.25);

        &__text {
          width: 100%;
          font-size: 2rem;
          white-space: nowrap;

          text-overflow: ellipsis;
          overflow: hidden;
        }

        &__button {
          --size: 2.125rem;

          position: relative;

          width: var(--size);
          height: var(--size);

          outline: none;
          border: 2px solid var(--primary-color);
          border-radius: 50%;
          background-color: transparent;

          cursor: pointer;

          &::after {
            --button-gap: 7px;
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-51%, -49%) scale(0);

            width: calc(var(--size) - var(--button-gap));
            height: calc(var(--size) - var(--button-gap));

            border-radius: 50%;
            background-color: var(--primary-color);
            transition: transform 0.4s ease;
          }

          &--completed::after {
            transform: translate(-51%, -49%) scale(1);
          }
        }
      }
    }

    &::after {
      content: '';

      position: absolute;
      bottom: calc(var(--pd) / 2 * -1);
      left: 0;

      width: calc(100vw - var(--pd));
      height: 1px;
      background-color: #333;
    }

    &:last-child::after {
      display: none;
    }
  }
}
