.form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

    color: var(--ff-disabled-color);

    &:focus-within {
      color: white;
    }

    &--actions {
      flex-direction: row;
    }

    button {
      font: inherit;
      font-size: 1rem;
      font-weight: 500;
      color: var(--ff-color);

      padding: 0.5rem 1.5rem;
      border: none;
      border: 1px solid var(--ff-color);
      border-radius: 0.25rem;
      outline: none;
      background-color: transparent;

      cursor: pointer;
      // [ ] make some animations

      &:first-of-type {
        color: var(--surface-color);
        background-color: var(--ff-color);
      }
    }
  }
}
