@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --surface-color: #030303;
  --ff-color: #eee;
  --ff-disabled-color: #ddd;

  --primary-color: #f0d9e7;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;

  color: var(--ff-color);
  font-family: 'Quicksand', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--surface-color);
}

#root {
  height: 100%;
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 14px;
  }
}

@keyframes toast-enter {
  0% {
    transform: translateY(450%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes toast-exit {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(450%);
  }
  100% {
    transform: translateY(450%);
  }
}
